--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users_logro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_logro (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL,
    insignia_url character varying(255) NOT NULL
);


ALTER TABLE public.users_logro OWNER TO postgres;

--
-- Name: users_logro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_logro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_logro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: users_logro; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users_logro (id, nombre, descripcion, insignia_url) VALUES (1, 'Explorador de la Playa', '┬íHas completado todas las aventuras en la playa!', 'src/assets/insignias/explorador_playa.png');
INSERT INTO public.users_logro (id, nombre, descripcion, insignia_url) VALUES (2, 'Conquistador del Castillo', '┬íMisi├│n cumplida en el majestuoso castillo!', 'src/assets/insignias/conquistador_castillo.png');
INSERT INTO public.users_logro (id, nombre, descripcion, insignia_url) VALUES (3, 'Descubridor de la Jungla', '┬íHas superado todos los desaf├¡os selv├íticos!', 'src/assets/insignias/descubridor_jungla.png');

--
-- Name: users_logro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_logro_id_seq', 9, true);


--
-- Name: users_logro users_logro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_logro
    ADD CONSTRAINT users_logro_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

