--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: rewards_recompensa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rewards_recompensa (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    url character varying(255) NOT NULL,
    nivel_id bigint
);


ALTER TABLE public.rewards_recompensa OWNER TO postgres;

--
-- Name: rewards_recompensa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rewards_recompensa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rewards_recompensa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: rewards_recompensa; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.rewards_recompensa (id, nombre, url, nivel_id) VALUES (1, 'Chango Tenis', 'avatar1.png', 1);
INSERT INTO public.rewards_recompensa (id, nombre, url, nivel_id) VALUES (2, 'Chango Flow', 'avatar2.png', 1);
INSERT INTO public.rewards_recompensa (id, nombre, url, nivel_id) VALUES (3, 'Chango Rayo', 'avatar3.png', 1);

--
-- Name: rewards_recompensa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rewards_recompensa_id_seq', 9, true);


--
-- Name: rewards_recompensa rewards_recompensa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_recompensa
    ADD CONSTRAINT rewards_recompensa_pkey PRIMARY KEY (id);


--
-- Name: rewards_recompensa_nivel_id_e3a803b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rewards_recompensa_nivel_id_e3a803b8 ON public.rewards_recompensa USING btree (nivel_id);


--
-- Name: rewards_recompensa rewards_recompensa_nivel_id_e3a803b8_fk_lessons_nivel_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_recompensa
    ADD CONSTRAINT rewards_recompensa_nivel_id_e3a803b8_fk_lessons_nivel_id FOREIGN KEY (nivel_id) REFERENCES public.lessons_nivel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

