--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: lessons_categoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons_categoria (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion character varying(100)
);


ALTER TABLE public.lessons_categoria OWNER TO postgres;

--
-- Name: lessons_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lessons_categoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lessons_categoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lessons_materialdidactico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons_materialdidactico (
    id bigint NOT NULL,
    descripcion text NOT NULL,
    tipo character varying(50) NOT NULL,
    url character varying(255) NOT NULL,
    categoria_id bigint
);


ALTER TABLE public.lessons_materialdidactico OWNER TO postgres;

--
-- Name: lessons_materialdidactico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lessons_materialdidactico ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lessons_materialdidactico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lessons_materialdidactico_niveles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons_materialdidactico_niveles (
    id bigint NOT NULL,
    materialdidactico_id bigint NOT NULL,
    nivel_id bigint NOT NULL
);


ALTER TABLE public.lessons_materialdidactico_niveles OWNER TO postgres;

--
-- Name: lessons_materialdidactico_niveles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lessons_materialdidactico_niveles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lessons_materialdidactico_niveles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lessons_mundo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons_mundo (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE public.lessons_mundo OWNER TO postgres;

--
-- Name: lessons_mundo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lessons_mundo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lessons_mundo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lessons_nivel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons_nivel (
    id bigint NOT NULL,
    nivel integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    dificultad character varying(50) NOT NULL,
    mundo_id bigint NOT NULL
);


ALTER TABLE public.lessons_nivel OWNER TO postgres;

--
-- Name: lessons_nivel_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lessons_nivel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lessons_nivel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rewards_progreso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rewards_progreso (
    id bigint NOT NULL,
    porcentaje_avance numeric(5,2) NOT NULL,
    intentos_realizados integer NOT NULL,
    fecha_fin date,
    nivel_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.rewards_progreso OWNER TO postgres;

--
-- Name: rewards_progreso_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rewards_progreso ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rewards_progreso_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rewards_recompensa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rewards_recompensa (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL,
    url character varying(255) NOT NULL,
    nivel_id bigint NOT NULL
);


ALTER TABLE public.rewards_recompensa OWNER TO postgres;

--
-- Name: rewards_recompensa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rewards_recompensa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rewards_recompensa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_logro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_logro (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL,
    insignia_url character varying(255) NOT NULL
);


ALTER TABLE public.users_logro OWNER TO postgres;

--
-- Name: users_logro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_logro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_logro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_perfil; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_perfil (
    usuario_id bigint NOT NULL,
    avatar character varying(255) NOT NULL,
    direccion character varying(255) NOT NULL
);


ALTER TABLE public.users_perfil OWNER TO postgres;

--
-- Name: users_rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_rol (
    id bigint NOT NULL,
    nombre character varying(25) NOT NULL,
    descripcion character varying(50) NOT NULL
);


ALTER TABLE public.users_rol OWNER TO postgres;

--
-- Name: users_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_rol ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_rol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_usuario (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    apellido1 character varying(50) NOT NULL,
    apellido2 character varying(50) NOT NULL,
    rol_id bigint
);


ALTER TABLE public.users_usuario OWNER TO postgres;

--
-- Name: users_usuario_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_usuario_groups OWNER TO postgres;

--
-- Name: users_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usuario_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_usuario_user_permissions OWNER TO postgres;

--
-- Name: users_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usuariologro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_usuariologro (
    id bigint NOT NULL,
    fecha_obtenido date NOT NULL,
    logro_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.users_usuariologro OWNER TO postgres;

--
-- Name: users_usuariologro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_usuariologro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usuariologro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	users	logro
8	users	usuario
9	users	rol
10	users	perfil
11	users	usuariologro
12	lessons	categoria
13	lessons	mundo
14	lessons	nivel
15	lessons	materialdidactico
16	rewards	recompensa
17	rewards	progreso
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: lessons_categoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lessons_categoria (id, nombre, descripcion) FROM stdin;
1	Abecedario	Aprende las letras del alfabeto en LSM.
2	Saludos	Formas b├ísicas de saludar en LSM.
3	Colores	Identifica y se├▒ala colores en LSM.
4	Numeros	Cuenta del 1 al 10 y m├ís en LSM.
5	Animales	Nombres de animales usando LSM.
6	Emociones	Expresa c├│mo te sientes en LSM.
7	Familia	Nombra a los miembros de la familia.
8	Preguntas	Aprende a hacer preguntas b├ísicas en LSM.
\.


--
-- Data for Name: lessons_materialdidactico; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lessons_materialdidactico_niveles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lessons_materialdidactico_niveles (id, materialdidactico_id, nivel_id) FROM stdin;
\.


--
-- Data for Name: lessons_mundo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lessons_mundo (id, nombre, descripcion) FROM stdin;
1	Playa	Aprende las letras y saluda como un verdadero explorador costero.
2	Ciudad	Recorre la ciudad mientras aprendes los colores y a contar.
3	Jungla	Descubre criaturas salvajes y c├│mo se sienten en lo profundo de la jungla.
4	Castillo	Conoce a la familia real y aprende a hacer preguntas como todo un caballero.
5	Mundo Misterioso	Un mundo especial por descubrir.
\.


--
-- Data for Name: lessons_nivel; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rewards_progreso; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rewards_progreso (id, porcentaje_avance, intentos_realizados, fecha_fin, nivel_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: rewards_recompensa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rewards_recompensa (id, nombre, url, nivel_id) FROM stdin;
\.


--
-- Data for Name: users_logro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_logro (id, nombre, descripcion, insignia_url) FROM stdin;
\.


--
-- Data for Name: users_perfil; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_perfil (usuario_id, avatar, direccion) FROM stdin;
\.


--
-- Data for Name: users_rol; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_rol (id, nombre, descripcion) FROM stdin;
1	Administrador	Gestiona usuarios y contenido.
2	Asesor	Sube material y ve progreso.
3	Estudiante	Juega y aprende con la plataforma.
\.


--
-- Data for Name: users_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_usuario (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, apellido1, apellido2, rol_id) FROM stdin;
1	pbkdf2_sha256$1000000$d7ddulOXeyVrO64767J8pS$JV87cO4Z3RhSFLJR5NkmVsGQPgpdh0Obdi+p+bpQ0M0=	\N	f	admin	Admin	Panel	admin@signlingus.com	f	t	2025-07-23 22:33:52.649628-07			1
\.


--
-- Data for Name: users_usuario_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Data for Name: users_usuariologro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_usuariologro (id, fecha_obtenido, logro_id, usuario_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 23, true);


--
-- Name: lessons_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_categoria_id_seq', 8, true);


--
-- Name: lessons_materialdidactico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_materialdidactico_id_seq', 13, true);


--
-- Name: lessons_materialdidactico_niveles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_materialdidactico_niveles_id_seq', 1, false);


--
-- Name: lessons_mundo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_mundo_id_seq', 5, true);


--
-- Name: lessons_nivel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_nivel_id_seq', 13, true);


--
-- Name: rewards_progreso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rewards_progreso_id_seq', 1, false);


--
-- Name: rewards_recompensa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rewards_recompensa_id_seq', 1, false);


--
-- Name: users_logro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_logro_id_seq', 1, false);


--
-- Name: users_rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_rol_id_seq', 3, true);


--
-- Name: users_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_usuario_groups_id_seq', 1, false);


--
-- Name: users_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_usuario_id_seq', 1, true);


--
-- Name: users_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_usuario_user_permissions_id_seq', 1, false);


--
-- Name: users_usuariologro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_usuariologro_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: lessons_categoria lessons_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_categoria
    ADD CONSTRAINT lessons_categoria_pkey PRIMARY KEY (id);


--
-- Name: lessons_materialdidactico_niveles lessons_materialdidactic_materialdidactico_id_niv_2da0ba17_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_materialdidactico_niveles
    ADD CONSTRAINT lessons_materialdidactic_materialdidactico_id_niv_2da0ba17_uniq UNIQUE (materialdidactico_id, nivel_id);


--
-- Name: lessons_materialdidactico_niveles lessons_materialdidactico_niveles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_materialdidactico_niveles
    ADD CONSTRAINT lessons_materialdidactico_niveles_pkey PRIMARY KEY (id);


--
-- Name: lessons_materialdidactico lessons_materialdidactico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_materialdidactico
    ADD CONSTRAINT lessons_materialdidactico_pkey PRIMARY KEY (id);


--
-- Name: lessons_mundo lessons_mundo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_mundo
    ADD CONSTRAINT lessons_mundo_pkey PRIMARY KEY (id);


--
-- Name: lessons_nivel lessons_nivel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_nivel
    ADD CONSTRAINT lessons_nivel_pkey PRIMARY KEY (id);


--
-- Name: rewards_progreso rewards_progreso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_progreso
    ADD CONSTRAINT rewards_progreso_pkey PRIMARY KEY (id);


--
-- Name: rewards_recompensa rewards_recompensa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_recompensa
    ADD CONSTRAINT rewards_recompensa_pkey PRIMARY KEY (id);


--
-- Name: users_logro users_logro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_logro
    ADD CONSTRAINT users_logro_pkey PRIMARY KEY (id);


--
-- Name: users_perfil users_perfil_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_perfil
    ADD CONSTRAINT users_perfil_pkey PRIMARY KEY (usuario_id);


--
-- Name: users_rol users_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_rol
    ADD CONSTRAINT users_rol_pkey PRIMARY KEY (id);


--
-- Name: users_usuario_groups users_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_groups
    ADD CONSTRAINT users_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: users_usuario_groups users_usuario_groups_usuario_id_group_id_db69fe93_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_groups
    ADD CONSTRAINT users_usuario_groups_usuario_id_group_id_db69fe93_uniq UNIQUE (usuario_id, group_id);


--
-- Name: users_usuario users_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario
    ADD CONSTRAINT users_usuario_pkey PRIMARY KEY (id);


--
-- Name: users_usuario_user_permissions users_usuario_user_permi_usuario_id_permission_id_9b373975_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_user_permissions
    ADD CONSTRAINT users_usuario_user_permi_usuario_id_permission_id_9b373975_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: users_usuario_user_permissions users_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_user_permissions
    ADD CONSTRAINT users_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_usuario users_usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario
    ADD CONSTRAINT users_usuario_username_key UNIQUE (username);


--
-- Name: users_usuariologro users_usuariologro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuariologro
    ADD CONSTRAINT users_usuariologro_pkey PRIMARY KEY (id);


--
-- Name: users_usuariologro users_usuariologro_usuario_id_logro_id_c9124d3c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuariologro
    ADD CONSTRAINT users_usuariologro_usuario_id_logro_id_c9124d3c_uniq UNIQUE (usuario_id, logro_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: lessons_materialdidactico_categoria_id_985ecd4a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX lessons_materialdidactico_categoria_id_985ecd4a ON public.lessons_materialdidactico USING btree (categoria_id);


--
-- Name: lessons_materialdidactico_niveles_materialdidactico_id_b9fbff00; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX lessons_materialdidactico_niveles_materialdidactico_id_b9fbff00 ON public.lessons_materialdidactico_niveles USING btree (materialdidactico_id);


--
-- Name: lessons_materialdidactico_niveles_nivel_id_edc6a3ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX lessons_materialdidactico_niveles_nivel_id_edc6a3ff ON public.lessons_materialdidactico_niveles USING btree (nivel_id);


--
-- Name: lessons_nivel_mundo_id_aa2f884e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX lessons_nivel_mundo_id_aa2f884e ON public.lessons_nivel USING btree (mundo_id);


--
-- Name: rewards_progreso_nivel_id_afa3f001; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rewards_progreso_nivel_id_afa3f001 ON public.rewards_progreso USING btree (nivel_id);


--
-- Name: rewards_progreso_usuario_id_1741dc68; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rewards_progreso_usuario_id_1741dc68 ON public.rewards_progreso USING btree (usuario_id);


--
-- Name: rewards_recompensa_nivel_id_e3a803b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX rewards_recompensa_nivel_id_e3a803b8 ON public.rewards_recompensa USING btree (nivel_id);


--
-- Name: users_usuario_groups_group_id_9d969afd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuario_groups_group_id_9d969afd ON public.users_usuario_groups USING btree (group_id);


--
-- Name: users_usuario_groups_usuario_id_3a8a9a06; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuario_groups_usuario_id_3a8a9a06 ON public.users_usuario_groups USING btree (usuario_id);


--
-- Name: users_usuario_rol_id_9bc301ef; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuario_rol_id_9bc301ef ON public.users_usuario USING btree (rol_id);


--
-- Name: users_usuario_user_permissions_permission_id_bf5f5453; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuario_user_permissions_permission_id_bf5f5453 ON public.users_usuario_user_permissions USING btree (permission_id);


--
-- Name: users_usuario_user_permissions_usuario_id_75526fda; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuario_user_permissions_usuario_id_75526fda ON public.users_usuario_user_permissions USING btree (usuario_id);


--
-- Name: users_usuario_username_399a0cac_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuario_username_399a0cac_like ON public.users_usuario USING btree (username varchar_pattern_ops);


--
-- Name: users_usuariologro_logro_id_8f013a09; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuariologro_logro_id_8f013a09 ON public.users_usuariologro USING btree (logro_id);


--
-- Name: users_usuariologro_usuario_id_5d47101e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_usuariologro_usuario_id_5d47101e ON public.users_usuariologro USING btree (usuario_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lessons_materialdidactico lessons_materialdida_categoria_id_985ecd4a_fk_lessons_c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_materialdidactico
    ADD CONSTRAINT lessons_materialdida_categoria_id_985ecd4a_fk_lessons_c FOREIGN KEY (categoria_id) REFERENCES public.lessons_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lessons_materialdidactico_niveles lessons_materialdida_materialdidactico_id_b9fbff00_fk_lessons_m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_materialdidactico_niveles
    ADD CONSTRAINT lessons_materialdida_materialdidactico_id_b9fbff00_fk_lessons_m FOREIGN KEY (materialdidactico_id) REFERENCES public.lessons_materialdidactico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lessons_materialdidactico_niveles lessons_materialdida_nivel_id_edc6a3ff_fk_lessons_n; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_materialdidactico_niveles
    ADD CONSTRAINT lessons_materialdida_nivel_id_edc6a3ff_fk_lessons_n FOREIGN KEY (nivel_id) REFERENCES public.lessons_nivel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: lessons_nivel lessons_nivel_mundo_id_aa2f884e_fk_lessons_mundo_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons_nivel
    ADD CONSTRAINT lessons_nivel_mundo_id_aa2f884e_fk_lessons_mundo_id FOREIGN KEY (mundo_id) REFERENCES public.lessons_mundo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rewards_progreso rewards_progreso_nivel_id_afa3f001_fk_lessons_nivel_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_progreso
    ADD CONSTRAINT rewards_progreso_nivel_id_afa3f001_fk_lessons_nivel_id FOREIGN KEY (nivel_id) REFERENCES public.lessons_nivel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rewards_progreso rewards_progreso_usuario_id_1741dc68_fk_users_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_progreso
    ADD CONSTRAINT rewards_progreso_usuario_id_1741dc68_fk_users_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.users_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rewards_recompensa rewards_recompensa_nivel_id_e3a803b8_fk_lessons_nivel_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewards_recompensa
    ADD CONSTRAINT rewards_recompensa_nivel_id_e3a803b8_fk_lessons_nivel_id FOREIGN KEY (nivel_id) REFERENCES public.lessons_nivel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_perfil users_perfil_usuario_id_6ba4465b_fk_users_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_perfil
    ADD CONSTRAINT users_perfil_usuario_id_6ba4465b_fk_users_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.users_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuario_groups users_usuario_groups_group_id_9d969afd_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_groups
    ADD CONSTRAINT users_usuario_groups_group_id_9d969afd_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuario_groups users_usuario_groups_usuario_id_3a8a9a06_fk_users_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_groups
    ADD CONSTRAINT users_usuario_groups_usuario_id_3a8a9a06_fk_users_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.users_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuario users_usuario_rol_id_9bc301ef_fk_users_rol_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario
    ADD CONSTRAINT users_usuario_rol_id_9bc301ef_fk_users_rol_id FOREIGN KEY (rol_id) REFERENCES public.users_rol(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuario_user_permissions users_usuario_user_p_permission_id_bf5f5453_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_user_permissions
    ADD CONSTRAINT users_usuario_user_p_permission_id_bf5f5453_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuario_user_permissions users_usuario_user_p_usuario_id_75526fda_fk_users_usu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuario_user_permissions
    ADD CONSTRAINT users_usuario_user_p_usuario_id_75526fda_fk_users_usu FOREIGN KEY (usuario_id) REFERENCES public.users_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuariologro users_usuariologro_logro_id_8f013a09_fk_users_logro_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuariologro
    ADD CONSTRAINT users_usuariologro_logro_id_8f013a09_fk_users_logro_id FOREIGN KEY (logro_id) REFERENCES public.users_logro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usuariologro users_usuariologro_usuario_id_5d47101e_fk_users_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_usuariologro
    ADD CONSTRAINT users_usuariologro_usuario_id_5d47101e_fk_users_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.users_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

