body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #0071ce;
  color: white;
  background-image: url("../image/fondo.png");
  overflow: visible;
}

header {
  background-color: #41279b;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.text-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.text-logo p {
  font-size: 0.8rem;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav span {
  color: white;
}

.buttons button {
  margin-left: 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.register {
  background-color: white;
  color: black;
}

.login {
  background-color: white;
  color: black;
}

main {
  padding: 40px 20px;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.registro-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;  
     
  row-gap: 24px;        
  max-width: 800px;
   margin: 80px auto 0 auto;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px; 
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  color: #333;
}

.submit-btn {
  grid-column: 1 / -1;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #6a35d6;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.note {
  font-size: 0.8rem;
  margin-top: 10px;
}

footer {
  position: relative;
}

.corner-img {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 100px;
  width: 1000px;
  height: 400px;
  z-index: 99;
  pointer-events: none;
  object-fit: contain;
  transform: translateX(40%); 
  bottom: -100px;
}

@media (max-width: 600px) {
  .corner-img {
    height: 100px;
  }
}


.final .form-group {
  grid-column: 1 / 2;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

.g-recaptcha {
  margin-top: -100px;
  left: 50px;
  right: 250px;
  padding-left: 50px;
  position: relative;
}

html {
  overflow: visible;
}